TwelveData__ApiKey=

DB_USER=
DB_PASSWORD=
DB_NAME=

ConnectionString__EFCoreDBConnection=Host=your-host;Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}

Auth0__Domain=
Auth0__Audience=

EmailSettings__Email=
EmailSettings__Token=

FrontendUrl__Url=